.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    font-style: oblique;
    color: #FFDEAD;
    font-size:1.4vw;
    font-weight: 300;
    text-shadow:
     -2px -2px 0 #000,
     2px -12px 0 #000,
     -2px 1px 0 #000,
     2px 2px 0 #000;
    font-size: large;
}

h1{
    font-weight: 900;
}

.con {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 230px;
    color: black;


}


.con{
    display: flex;
    font-weight: 700;

}


.italic{

    font-style: oblique;
    width: 700px;
    height: 156px;

}



#showImageBtn {
    width: 500px;
    height: 96px;
    border-radius: 60px;
    cursor: pointer;
    color: #FFD700;
    background: #FA8072;
    font-style: oblique;
    font-size:5vw;
    font-weight: 800;
}

#randomImage {
    width: 500px;
    height: 500px;
    object-fit: cover;
}
body {
  background-image: url('https://images.wallpaperscraft.ru/image/single/chernyj_temnyj_fraktal_149686_3840x2160.jpg'); /* Replace with your image URL */  background-position: center;
  background-repeat: no-repeat;
  backgruond-size: 150% 150%;
}
