.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    color: white;
}

h1{
    font-weight: 900;
}

.con {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 430px;
    color: black;


}


.con{
    display: flex;
    font-weight: 700;

}


.italic{

    align-items: center;
    width: 700px;
    height: 156px;

}



#showImageBtn {
    width: 700px;
    height: 96px;
    border-radius: 60px;
    cursor: pointer;
    color: white;
    background: #FFFF00;
    font-size:1.7vw;
    font-weight: 800;
}

#randomImage {
    width: 700px;
    height: 700px;
    object-fit: cover;
}
body {
  background-image: url('background.jpg'); /* Replace with your image URL */  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
}
