.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    color: white;
}

#showImageBtn {
    width: 350px;
    height: 56px;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    background: #FFFF00;
    font-size:1,4vw;
}

#randomImage {
    max-width: 440px;
    max-height: 400px;
    object-fit: cover;
}
body {
  background-image: url('background.jpg'); /* Replace with your image URL */  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
}
